.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img {
  display: block;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1380px;
}
a.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    text-transform: none;
}
a.google {

}
img.right {
  width: 20px;
  cursor: pointer;
}
li.watch {
  width: 24%;
}
a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

div.one {
  background: #fbb82c;
}
div.two {
  background: #fa592d;
}
div.three {
  background: #af56fc;
}
div.four {
  background: #4b99fd;
}
div.whatsapp {
    position: absolute;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    background: #fff;
    top: 40px;
    right: -30px;
    border: 2px solid #009a66;
    display: flex;
    justify-content: center;
}
div.certificate {
    position: absolute;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    background: #fff;
    top: 40px;
    right: -30px;
    border: 2px solid #fbb82c;
    display: flex;
    justify-content: center;

}
div.scissors {
  position: absolute;
  border-radius: 50%;
  width: 67px;
  height: 67px;
  background: #fff;
  top: 40px;
  right: -30px;
  border: 2px solid #fa592d;
  display: flex;
    justify-content: center;
}
div.devices {
    position: absolute;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    background: #fff;
    top: 40px;
    right: -30px;
    border: 2px solid #af56fc;
    display: flex;
    justify-content: center;
}
div.certificate_blue {
    position: absolute;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    background: #fff;
    top: 40px;
    right: -30px;
    border: 2px solid #4b99fd;
    display: flex;
    justify-content: center;
}
li.orange {
    background: #fff6ed;
    padding: 15px 15px 15px 35px;
    border-radius: 16px;
    list-style: none;
    margin-bottom: 30px;
    height: 80px;
    width: 90%;
    position: relative;
    border: .5px solid #d9efdd;

}
li.blue {
    background: #ebf2fa;
    padding: 15px 15px 15px 35px;
    border-radius: 16px;
    list-style: none;
    margin-bottom: 30px;
    height: 80px;
    width: 90%;
    position: relative;
    border: .5px solid #d9efdd;
}
span.last::after {
  display: none;
}
li.green {
    background: #e3f3e6;
    padding: 15px 15px 15px 35px;
    border-radius: 16px;
    list-style: none;
    margin-bottom: 30px;
    height: 80px;
    width: 90%;
    position: relative;
    border: .5px solid #d9efdd;
}
a.button {
  
}
a.footer {
  color: #8e8e8e;
  text-transform: capitalize;
}
a.terms {
  text-transform: capitalize;
  color: #000;
}
a.term {
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}
a.privacy {
  text-transform: capitalize;
  color: #8e8e8e;

}
a.profile {
  text-transform: capitalize;
}
a.mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, #63bb4c 20%, #1898af 100%);
    height: 40px;
    padding: 6px;
    color: #fff;
}
a.lesson {
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
img.arrow {
  display: block;
  width: 12px;
}
img.phone {
  display: block;
  width: 11px;
  margin-right: 4px;

}
img.country {
  display: block;
  width: 100%;

}
a.create {
    color: #8fd899;
    text-transform: capitalize;
    margin-left: 10px;
}
a.terms {

} 
p {
    margin: 10px 0 14px 0;
}
a.goto {
  text-transform: capitalize;
  color: #fff;
}
a.back {
    margin-right: 15px;
    padding: 7px 24px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
}
a.submit {
    margin-right: 22px;
    padding: 7px 24px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-right: 0;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    color: #000;
    
}
a.submit:hover {
    background-image: linear-gradient(to right, #63bb4c 20%, #1898af 100%);
    color: #fff;
}
a.back:hover {
    background-image: linear-gradient(to right, #63bb4c 20%, #1898af 100%);
    color: #fff;
}
hr {
    color: #000;
}
img.tech {
    width: 75px;
    height: 40px;
}
img.edu {
    width: 135px;
    height: 40px;
}
img.pro {
    width: 180px;
    height: 40px;
}
a.learning {
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
}
img.select {
  width: 10px;
  display: block;
  cursor: pointer;
}
img.leftarrow {
  width: 60%;
    display: block;
    transform: rotate(90deg); 
}
img.log {
  display: block;
  width: 20px;
}
@media (max-width:1280px){
  li.orange {
    height: 110px;
  }
  li.blue {
    height: 110px;
  }
  li.green {
    height: 110px;
  }
}

@media (max-width:1080px){
  div.whatsapp {
    width: 50px;
    height: 50px;
    top: 28px;
    right: -26px;
  }
  div.certificate {
    width: 50px;
    height: 50px;
    top: 28px;
    right: -26px;
  }
  div.scissors {
    width: 50px;
    height: 50px;
    top: 28px;
    right: -26px;
  }
  div.devices {
    width: 50px;
    height: 50px;
    top: 28px;
    right: -26px;
  }
  div.certificate_blue {
    width: 50px;
    height: 50px;
    top: 28px;
    right: -26px;
  }
  li.orange {
    border: none;
  }
  li.green {
    border: none;
  }
  li.blue {
    border: none;
  }
}
@media (max-width:640px){
  a.button {
      padding: 0;
      width: 95%;
  }
  li.orange {
    padding: 10px;
    width: 95%;
  }
  li.blue{
    padding: 10px;
    width: 95%;
  }
  li.green {
    padding: 10px;
    width: 95%;
  }
}
@media (max-width:540px){
  li.orange {
    height: 143px;
  }
  li.blue {
    height: 143px;
  }
  li.green {
    height: 143px;
  }
}
@media (max-width:480px){
  div.whatsapp{
      width: 40px;
      height: 40px;
      top: 18px;
      right: -21px;
  }
  div.certificate{
    width: 40px;
    height: 40px;
    top: 18px;
    right: -21px;
}
div.scissors{
  width: 40px;
  height: 40px;
  top: 18px;
  right: -21px;
}
div.devices{
  width: 40px;
  height: 40px;
  top: 18px;
  right: -21px;
}
div.certificate_blue{
  width: 40px;
  height: 40px;
  top: 18px;
  right: -21px;
}
li.orange {
  width: 93%;
}
li.green {
  width: 93%;
}
li.blue {
  width: 93%;
}
}